*.so*
*.swp
*.o
*.prl
*.moc
moc_*
Makefile
documentation.list
debugfiles.list
debuglinks.list
debugsources.list
debugsourcefiles.list
elfbins.list
/installroot
/RPMS
/sailfish-policy/libsailfishpolicy/pkgconfig/
/sailfish-policy/policy-updater/policy-updater
/sailfish-policy/doc/html/
/sailfish-policy/doc/sailfish-policy.qch
/sailfish-policy/tests/libsailfishpolicy/target_wrapper.sh
/sailfish-policy/tests/libsailfishpolicy/tst_accesspolicy
